//*****************************************************************************/
//*****************************************************************************/
//*****************************************************************************/
.magenta {
  border: 1px solid magenta;
  background-color: rgba(255,0,255,.2);
  &2 {
    border: 2px solid magenta;
    background-color: rgba(255,0,255,.2);
  }
  &3 {
    border: 3px solid magenta;
    background-color: rgba(255,0,255,.2);
  }
}
.red {
  border: 1px solid red;
  background-color: rgba(255,0,0,.2);
}
.blue {
  border: 1px solid green;
  background-color: rgba(0,255,0,.2);
}
.blue {
  border: 1px solid blue;
  background-color: rgba(0,0,255,.2);
}
.yellow {
  border: 1px solid yellow;
  background-color: rgba(255,255,0,0.2);
}
.developer {
  padding: 5%;
  #current-time {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  > h1 {
    margin: 50px 0 30px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  > h2 {
    border-top: 1px solid #E2E2E2;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 30px;
  }
  > p {
    margin-bottom: 20px;
    font-weight: lighter;
  }
  > span {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
  ul {
    li {
      padding-left: 20px;
      margin-bottom: 10px;
    }
  }
}