/*
  @author: Jorge Alejandro Benjumea
  @email: j.alejandro.benjumea@gmail.com

  TABLE OF CONTENTS
  -------------------------------------
    01. Fonts

*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700);

@import 'https://fonts.googleapis.com/css?family=Vidaloka';

@font-face {
  font-family: 'fs_joeybold';
  src:  url('../fonts/fsjoey/fsjoey-bold-webfont.woff2') format('woff2'),
        url('../fonts/fsjoey/fsjoey-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fs_joeymedium';
  src:  url('../fonts/fsjoey/fsjoey-medium-webfont.woff2') format('woff2'),
        url('../fonts/fsjoey/fsjoey-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fs_joeyregular';
  src:  url('../fonts/fsjoey/fsjoey-regular-webfont.woff2') format('woff2'),
        url('../fonts/fsjoey/fsjoey-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),
       url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),
       url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.6.3') format('woff'),
       url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
       url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}