/*
  @author: Jorge Alejandro Benjumea
  @email: j.alejandro.benjumea@gmail.com
*/

.udc {
  .select {
    &:before, &:after {
      display: none;
    }
    select {
      padding-right: 10px !important;
    }
    &.select-video {
      select {
        padding-right: 15px !important;
      }
    }
  }
}