/*
  @author: Jorge Alejandro Benjumea
  @email: j.alejandro.benjumea@gmail.com

  TABLE OF CONTENTS
  -------------------------------------
    01. Imports
    02. Variables
    03. Update Data Campaign
        Globals
        Mobile
        Not Mobile
        Loader
    04. Developer
*/

// 01. Imports ----------------------------------------------------------------
  @import 'compass/css3';
  @import 'fonts';

// 02. Variables --------------------------------------------------------------
  $blue: #00B5CC;
  $gray: #777776;
  $gray-clear: #A8A8A7;
  $base: '../../images/videoActualizacionDatos/';

// 03. Update Data Campaign ---------------------------------------------------
  .udc-mask {
    display: none;
    @import 'compass/reset';
    @import 'bootstrap';
    @import 'font-awesome';
  }

  .udc {
    // Globals ----------------------------------------------------------------
      .udc-mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #ffffff;
        font-family: Arial;
        text-align: center;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;
        transition: opacity 800ms ease-in-out;
        &.loading, &.loaded {
          visibility: visible;
          opacity: 1;
        }
        &.loaded {
          .udc-mobile {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      section {
        height: 100%;
        text-align: left;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity 400ms ease-in-out;
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #777776;
        }
      }
      input:not([type='checkbox']), select {
        width: 100%;
        border: 1px solid #777776;
        border-radius: 10px;
        color: #777776;
        font-size: 14px;
        background-color: #ffffff;
        padding: 9px 15px;
      }
      input {
        &[type=number] {
          -moz-appearance: textfield;
          &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
          }
        }
        &[type="checkbox"], &[type="radio"] {
          &.input-slider, &.input-video {
            display: none;
            & + label {
              vertical-align: middle;
              span {
                display: inline-block;
                vertical-align: bottom;
                cursor: pointer;
                vertical-align: middle;
              }
            }
          }
          &.input-slider {
            &.input-slider-xs {
              & + label span {
                width: 14px;
                height: 14px;
                background: url($base + 'icons/mobile-checkbox-xs.png') 0 0 no-repeat;
                vertical-align: -3px;
              }
              &:checked + label span {
                background-position: -14px top;
              }
            }
            &.input-slider-sm {
              & + label span {
                width: 18px;
                height: 18px;
                background: url($base + 'icons/mobile-checkbox-sm.png') 0 0 no-repeat;
                vertical-align: -5px;
              }
              &:checked + label span {
                background-position: -18px 0;
              }
            }
            & + label span {
              margin-right: 5px;
            }
          }
          &.input-video {
            &.input-video-xs {
              & + label {
                font-size: 14px;
                span {
                  width: 19px;
                  height: 17px;
                  margin: 0 5px;
                }
              }
              &.input-video-brown + label span {
                background: url($base + 'icons/video-checkbox-brown-xs.png') 0 0 no-repeat;
              }
              &:checked + label span {
              background-position: -19px 0;
            }
            }
            &.input-video-sm {
              & + label span {
                width: 27px;
                height: 25px;
                margin-left: 5px;
              }
              &.input-video-brown + label span {
                background: url($base + 'icons/video-checkbox-brown-sm.png') 0 0 no-repeat;
              }
              &.input-video-blue + label span {
                background: url($base + 'icons/video-checkbox-blue-sm.png') 0 0 no-repeat;
              }
              &.input-video-blue-dark + label span {
                background: url($base + 'icons/video-checkbox-blue-dark-sm.png') 0 0 no-repeat;
              }
              &:checked + label span {
                background-position: -27px 0;
              }
            }
          }
        }
      }
      ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
        color: #777776;
      }
      label {
        width: 100%;
        color: #777776;
        font-size: 10px;
      }
      span.bold {
        font-weight: 600;
      }
      .select {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        border-radius: 10px;
        &:before, &:after {
          position: absolute;
          pointer-events: none;
        }
        &:before {
          content: '';
          width: 40px;
          height: 100%;
          top: 0;
          right: 0;
          border: 1px solid #777776;
          border-left: none;
          border-radius: 0 10px 10px 0;
          background-color: #00B5CC;
        }
        &:after {
          content: '';
          width: 23px;
          height: 14px;
          background-image: url($base + 'icons/icons.png');
          background-repeat: no-repeat;
          background-position: -184px -13px;
          top: 50%;
          margin-top: -5px;
          right: 7px;
        }
        select {
          width: 100%;
          padding-right: 35px !important;
          appearance: none;
          cursor: pointer;
          &::-ms-expand {
              display: none;
          }
        }
        &.select-video {
          border-radius: 6px;
          &:before {
            height: 50%;
            top: 25%;
            right: 15px;
            border: none;
            border-left: 2px solid #594537;
            background-color: transparent;
            z-index: 100;
          }
          &:after {
            width: 12px;
            height: 12px;
            background-image: url($base + 'icons/icons.png');
            background-position: -258px -13px;
            margin-top: -6px;
            right: 20px;
          }
          select {
            padding-right: 70px !important;
          }
          &.loading {
            option {
              display: none;
              visibility: hidden;
              opacity: 0;
              transition: opacity 700ms ease;
            }
          }
          .loader {
            background-color: transparent;
            transition: all 400ms ease-in-out;
            .ball-scale-multiple {
              transform: translate(-10px, -10px);
              > div {
                width: 20px;
                height: 20px;
                background-color: #6A5A52;
              }
            }
          }
        }
      }
      .icon {
        width: 35px;
        height: 35px;
        background-image: url($base + 'icons/icons.png');
        background-repeat: no-repeat;
        &.icon {
          &-instructions {
            background-position: -35px 0;
          }
          &-general-information {
            background-position: -70px 0;
          }
          &-incomes {
            background-position: -105px 0;
          }
          &-authorization {
            background-position: -139px -2px;
          }
        }
      }
      .logo {
        display: inline-block;
        background-image: url($base + 'logos.png');
        background-repeat: no-repeat;
        &.logo-proteccion {
          width: 75px;
          height: 25px;
          background-position: -256px 0;
          &-xs {
            width: 75px;
            height: 25px;
            background-position: -256px 0;
          }
          &-sm {
            background-position: -151px 0;
            width: 105px;
            height: 35px;
          }
          &-lg {
            background-position: 0 0;
            width: 150px;
            height: 50px;
          }
          @media only screen and (min-width: 480px) {
            width: 105px;
            height: 35px;
            background-position: -151px 0;
          }
          @media only screen and (min-width: 768px) {
            width: 150px;
            height: 50px;
            background-position: 0 0;
          }
        }
      }
      .btn {
        color: #ffffff;
        box-shadow: 1px 3px 7px #9d9d9d;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: 600;
        letter-spacing: 0.8px;
        border-radius: 5px;
        font-family: 'Open Sans';
        &:hover, &:focus, &.focus {
          color: #ffffff !important;
          box-shadow: 2px 3px 10px #939393;
        }
        &-blue {
          background-color: $blue;
        }
        &-gray {
          background-color: $gray-clear;
        }
      }
      .validation-field {
        margin-bottom: 15px;
        .message {
          display: block;
          visibility: hidden;
          height: 0;
          overflow: hidden;
          transition: height 500ms ease-in-out;
        }
        input, select {
          transition: box-shadow 1000ms cubic-bezier(.56,1,.68,0);
        }
        &.error {
          margin-bottom: 8px;
          input, select {
            transition: box-shadow 300ms ease;
            border: 1px solid #FFBABA !important;
            box-shadow: 0 0 3px #FFBABA !important;
          }
          input {
            margin-bottom: 5px;
          }
          [class^='select'] {
            margin-bottom: 5px;
          }
          .select {
            &:before {
              border-color: #FFBABA !important;
              background-color: #FFBABA !important;
            }
          }
          .select-video {
            &:before {
              background-color: transparent !important;
            }
          }
          .message {
            visibility: visible;
            height: auto;
            min-height: 20px;
            color: #D8000C;
            text-align: right;
            font-size: 12px;
          }
        }
      }
      .player-elements {
      }
      .input {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          background-image: url($base + 'icons/icons.png');
          background-repeat: no-repeat;
          top: 50%;
          left: 15px;
        }
        &-email {
          &:after {
            width: 19px;
            height: 17px;
            margin-top: -9px;
            background-position: -289px -10px;
          }
          // &-white {
          //   background-position: -289px -10px;
          // }
        }
        &-phone {
          &:after {
            width: 19px;
            height: 17px;
            margin-top: -9px;
            background-position: -220px -10px;
          }
        }
        &-mobile {
          &:after {
            width: 19px;
            height: 17px;
            margin-top: -9px;
            background-position: -326px -10px;
          }
        }
        input {
          padding-left: 43px !important;
        }
      }

    // Mobile -----------------------------------------------------------------
      .udc-mobile {
        font-size: 14px;
        color: #777776;
        line-height: 1.2;
        &-header {
          width: 100%;
          height: 50px;
          background-color: #EEE839;
          margin-bottom: 30px;
          position: relative;
          transition: height 400ms ease-in-out;
          &:after {
            content: '';
            height: 100%;
            display: inline-block;
            vertical-align: middle;
          }
          > * {
            display: inline-block;
            vertical-align: middle;
          }
          .logo-proteccion {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 2;
          }
          .thanks {
            display: none;
            height: 305px;
            background-color: #EEE839;
            padding: 70px 20px 0;
            h2 {
              color: #005DA9;
              font-size: 38px;
              margin-bottom: 15px;
              font-family: 'fs_joeymedium';
            }
            p {
              font-family: 'Arial';
              font-size: 14px;
              line-height: 1.4;

            }
          }
          @media only screen and (min-width: 480px) {
            height: 60px;
          }
          @media only screen and (min-width: 768px) {
            height: 70px;
          }
        }
        &-carousel {
          margin-bottom: 0;
          .step {
            text-align: left;
            padding-bottom: 10px;
            outline: none;
            &:not(:first-of-type) {
              min-height: 300px;
            }
            &-0 {
              text-align: left;
              padding-top: 150px;
              ul {
                width: 95%;
                margin: 0 auto;
                li {
                  color: #777776;
                  font-size: 12px;
                  line-height: 1.4;
                  margin-bottom: 10px;
                  font-weight: 500;
                  span {
                    color: #00B5CC;
                  }
                  p {
                    display: inline;
                  }
                }
              }
              .btn {
                width: 100%;
                text-transform: uppercase;
              }
            }
            &-1 {
              input[type='email'] {
                margin-bottom: 3px;
              }
              .phones {
                .col-xs-6 {
                  &:nth-of-type(1) {
                    padding-right: 4px;
                  }
                  &:nth-of-type(2) {
                    padding-left: 4px;
                  }
                }
                input[type='text'], input[type='number'] {
                  margin-bottom: 3px;
                }
              }
            }
            &-2 {
              form {
                .row:nth-of-type(1) {
                  margin-bottom: 15px;
                }
              }
              .income-concept label {
                font-size: 8px;
                white-space: nowrap;
                margin-bottom: 5px;
                @media only screen and (min-width: 480px) {
                  font-size: 10px;
                }
                @media only screen and (min-width: 768px) {
                  font-size: 12px;
                }
                span {
                  margin-right: 10px;
                }
              }
            }
            &-4 {
              p {
                margin-bottom: 20px;
                text-align: justify;
              }
              .authorization {
                margin-bottom: 20px;
                p {
                  display: inline-block;
                  vertical-align: top;
                  min-width: 170px;
                }
              }
              .yes-no {
                display: inline-block;
                vertical-align: top;
                label {
                  margin-bottom: 5px;
                }
              }
            }
            &-5 {
              padding-top: 275px;
              a, p {
                color: #0054A0;
                font-family: 'fs_joeyregular';
                font-size: 12px;
              }
              .container {
                padding-left: 20px;
                padding-right: 20px;
              }
              .row {
                margin-bottom: 20px;
              }
            }
          }
        }
        &-footer {
          .start {
            display: none;
            opacity: 0;
            transition: all 500ms ease-in-out 100ms;
          }
          .btn {
            width: 100%;
            text-transform: uppercase;
            margin-bottom: 30px;
          }
          .btns {
            display: none;
            opacity: 0;
            margin-bottom: 30px;
            .col-xs-6 {
              &:nth-of-type(1) {
                padding-right: 4px;
              }
              &:nth-of-type(2) {
                padding-left: 4px;
              }
            }
          }
          .dots {
            width: 100%;
            text-align: center;
            li {
              display: inline-block;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background-color: #B6B6B6;
              transition: all 400ms ease;
              &:before {
                content: '';
              }
              &:not(:last-of-type) {
                margin-right: 9px;
              }
              &.active {
                width: 9px;
                height: 9px;
                background-color: #ffffff;
                border: 2px solid #666666;
              }
            }
          }
        }
        &.step-0 {
          .img-advice {
            position: relative;
            width: 100%;
            height: 100%;
            height: 203px;
            background-color: #EEE839;
            > * {
              position: absolute;
              background-image: url($base + 'steps/home.png');
              background-repeat: no-repeat;
            }
            .girl {
              width: 133px;
              height: 218px;
              bottom: -19px;
              left: 50%;
              margin-left: -66px;
              z-index: 1;
            }
            .cloud {
              z-index: 0;
              &-type-1 {
                width: 169px;
                height: 117px;
                background-position: -131px 0;
                top: 40px;
                right: -21px;
              }
              &-type-2 {
                width: 120px;
                height: 90px;
                background-position: -302px 0;
                bottom: 0;
                left: -15x;
              }
            }
            .leaf {
              &-type-1 {
              }
              &-type-2 {
              }
            }
          }
          .start {
            display: block;
            opacity: 1;
          }
        }
        &.step-1-4,&.step-1, &.step-2, &.step-3, &.step-4 {
          .udc-mobile-footer {
            .btns {
              display: block;
              opacity: 1;
            }
          }
        }
        &.step-5 {
          .thanks {
            display: block;
          }
        }
      }
      .title {
        margin-top: 10px;
        margin-bottom: 25px;
        position: relative;
        text-align: left;
        .icon {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          margin-right: 20px;
          &:before {
            content: '';
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -26px;
            background-image: url($base + 'steps/icons-background.png');
            background-repeat: no-repeat;
            z-index: -1;
          }
        }
        span {
          font-family: 'fs_joeybold';
          font-size: 18px;
          color: #00B5CC;
          vertical-align: middle;
        }
        img {
          width: 100%;
          height: 48px;
          position: absolute;
          top: -6px;
          left: 0;
          z-index: -10;
        }
      }
      .money {
        position: relative;
        &:before {
          content: '$';
          color: #00B5CC;
          position: absolute;
          top: 9px;
          height: 18px;
          left: 10px;
          z-index: 1;
        }
        input {
          margin: 0;
          padding-left: 25px
        }
      }
      .legal-advice {
        font-size: 8px;
        line-height: 1.4;
        @media only screen and (min-width: 480px) {
          font-size: 10px;
          line-height: 1.2;
        }
        @media only screen and (min-width: 768px) {
          font-size: 12px;
        }
      }
      label.placeholder {
        margin-bottom: 5px;
        font-size: 12px;
        color: #a3a3a2;
        span {
          font-weight: bold;
        }
      }

    // Not Mobile -------------------------------------------------------------
      .udc-player {
        display: none;
        width: 95%;
        height: 95%;
        vertical-align: middle;
        position: relative;
        margin-top: 40px;
        iframe {
          width: 100%;
          height: 100%;
        }
        .btn {
          border-radius: 6px;
          color: #ffffff;
          margin: 0 5px;
          box-shadow: none;
          padding: 10px 20px;
          min-width: 150px;
          &.btn-brown {
            background-color: #715a49;
            background-color: rgba(113, 90, 73, .9);
          }
          &.btn-light-brown {
            background-color: rgb(149, 134, 124);
            background-color: rgba(113, 90, 73, .7);
          }
          &.btn-blue {
            background-color: rgb(194, 244, 255);
            color: #3876C1;
            &:hover, &:focus, &.focus {
              color: #3876C1 !important;
            }
          }
          &.btn-light-blue {
            background-color: rgb(157, 217, 235);
            color: #3876C1;
            &:hover, &:focus, &.focus {
              color: #3876C1 !important;
            }
          }
          &.btn-blue-dark {
            background-color: rgb(42, 62, 90);
            color: #ffffff;
            &:hover, &:focus, &.focus {
              color: #ffffff !important;
            }
          }
          &.btn-light-blue-dark {
            background-color: rgba(42, 62, 90, 0.7);
            color: #ffffff;
            &:hover, &:focus, &.focus {
              color: #ffffff !important;
            }
          }
        }
        &.playing {
          .player-mask-play {
            visibility: hidden;
            opacity: 0;
          }
        }
        &.paused:not(.waiting) {
          .player-mask-play {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      .player {
        &-close {
          position: absolute;
          width: 30px;
          height: 30px;
          top: -31px;
          right: 0;
          text-align: center;
          background-color: $blue;
          color: #ffffff;
          &:before {
            content: '';
            height: 100%;
            display: inline-block;
            vertical-align: middle;
          }
          .btn-close {
            vertical-align: middle;
            cursor: pointer;
            font-size: 1.3em;
          }
        }
        &-controls {
          position: absolute;
          bottom: 10px;
          left: 13px;
          z-index: 4;
          color: #ffffff;
          transition: all 800ms ease-in-out;
          i {
            cursor: pointer;
            font-size: 1.4em;
            &:not(:last-of-type) {
              margin-right: 11px;
            }
          }
        }
        &-poster {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #e3e723;
          opacity: 0;
          visibility: hidden;
          transition: opacity 800ms ease-in-out 100;
          overflow: hidden;
          z-index: 3;
          user-select: none;
          display: none;
          .layer {
            position: absolute;
            &-1, &-2, &-3 {
              background-image: url($base + 'poster/layer1.png');
              background-repeat: no-repeat;
            }
            &-1 {
              top: 15%;
              left: 0;
              width: 595px;
              height: 364px;
              z-index: 0;
            }
            &-2 {
              left: 65%;
              top: 35%;
              width: 612px;
              height: 364px;
              background-position: -595px 0;
              z-index: 0;
            }
            &-3 {
              z-index: 1;
            }
            &.leaft {
              top: -100px;
              transform-origin: 0px -65px 0px;
              animation-name: fall, sway;
              animation-duration: 15s, 16s;
              animation-fill-mode: both;
              animation-timing-function: linear, ease-in-out;
              animation-iteration-count: infinite;
              &-1 {
                width: 85px;
                height: 53px;
                left: 10%;
                top: 10px;
                background-position: -1228px -69px;
              }
              &-2 {
                width: 115px;
                height: 65px;
                left: 66%;
                background-position: -1228px 0;
                animation-delay: 2s;
              }
              &-3 {
                width: 70px;
                height: 45px;
                left: 36%;
                background-position: -1228px -120px;
                animation-delay: 3s;
              }
              @keyframes fall {
                0% {
                  transform: translateX(0) translateY(0);
                }
                15% {
                  transform: translateX(60px);
                }
                40% {
                  transform: translateX(-30px);
                }
                60% {
                  transform: translateX(40px);
                }
                90% {
                  transform: translateX(-10px);
                }
                100% {
                  transform: translateX(100px);
                  margin-top: 700px;
                }
              }
              @keyframes sway {
                15% {
                  transform: rotateZ(-15deg) rotateX(25deg);
                }
                40% {
                  transform: rotateZ(20deg) rotateX(40deg);
                }
                60% {
                  transform: rotateZ(-20deg) rotateX(25deg);
                }
                100% {
                  transform: rotateZ(0deg) rotateX(18deg);
                }
              }
            }
            &-4 {
              z-index: 2;
              position: relative;
              img {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
              }
            }
            &-5 {
              height: auto;
              left: 50%;
              top: 16%;
              width: 35%;
              z-index: 3;
              .btn-background {
                width: 100%;
              }
              .mouse {
                &-pointer {
                  position: absolute;
                  right: 8%;
                  top: 49%;
                  width: 6%;
                  @include animation(pointer 3s infinite);
                }
                &-pointer-circles {
                  position: absolute;
                  right: 9.5%;
                  top: 27%;
                  width: 11%;
                  &:nth-of-type(2) {
                    animation-delay: 1.5s;
                  }
                  @include animation(circles 3s infinite);
                }
              }
              @-webkit-keyframes pointer {
                0%, 100% {-webkit-transform: translateX(0) translateY(0);}
                60% {-webkit-transform: translateX(8px) translateY(8px);}
              }
              @keyframes pointer {
                0%, 100% {transform: translateX(0) translateY(0);}
                60% {transform: translateX(8px) translateY(8px);}
              }
              @keyframes circles {
                0% {
                  transform: scale(0.0);
                  opacity: 0;
                }
                5% {
                  opacity: 1;
                }
                100% {
                  transform: scale(1.05);
                  opacity: 0;
                }
              }
            }
            &-6 {
              bottom: 10%;
              right: 2%;
              z-index: 3;
              .btn {
                margin: 0 5px;
                font-size: 12px;
                width: auto;
              }
              // @media only screen and (min-width: 1300px) {
              //   right: 3%;
              //   .btn {
              //     margin: 0 10px;
              //   }
              // }
              // @media only screen and (min-width: 1400px) {
              //   right: 5%;
              // }
            }
          }
          .btn-start {
            cursor: pointer;
          }
          &.show {
            visibility: visible;
            opacity: 1;
          }
        }
        &-mask-play {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.5);
          text-align: center;
          z-index: 2;
          visibility: hidden;
          opacity: 0;
          &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }
          .btn-play {
            vertical-align: middle;
            z-index: 10;
            color: #ffffff;
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            font-size: 20em;
          }
        }
        &-elements {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          color: #685443;
          > * {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            z-index: 100;
            width: 44%;
            right: 3%;
            &.show {
              visibility: visible;
              opacity: 1;
            }
          }
          input:not([type='checkbox']), select {
            border-radius: 6px;
            border: 2px solid #695443;
            background-color: transparent;
            color: #5b493a;
            padding: 8px 15px;
            font-size: 12px;
            &.white {
              color: #ffffff;
              border-color: #ffffff;
            }
            &.blue-dark {
              color: #0e171e;
              border-color: #0e171e;
            }
          }
          input[type="checkbox"] + label {
            font-size: 18px;
            color: #685443;
            span {
              vertical-align: -5px;
            }
          }
          label {
            font-size: 15px !important;
          }
          .validation-field {
            position: relative;
            margin-bottom: 10px;
            &.error {
              input, select {
                border: 2px solid #695443 !important;
                box-shadow: 0 0 3px red !important;
              }
              .message {
                position: absolute;
                top: -2px;
                right: 102%;
                background-color: red;
                text-align: center;
                padding: 12px 20px;
                color: #ffffff;
                height: auto;
                border-radius: 5px;
                overflow: unset;
                white-space: nowrap;
                &:before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  margin-top: -8px;
                  left: 100%;
                  width: 0;
                  height: 0;
                  border-top: 8px solid transparent;
                  border-bottom: 8px solid transparent;
                  border-left: 8px solid red;
                }
              }
            }
          }
          .btn-group {
            width: 100%;
            text-align: center;
            margin-top: 7px;
            .btn {
              width: 35%;
              margin: 0;
              display: inline-block;
              float: none;
              box-sizing: border-box;
              min-width: auto;
              padding-top: 8px;
              padding-bottom: 8px;
              &:first-child:not(:last-child):not(.dropdown-toggle) {
                border-bottom-right-radius: 6px;
                border-top-right-radius: 6px;
              }
              &:last-child:not(:first-child) {
                border-bottom-left-radius: 6px;
                border-top-left-radius: 6px;
              }
              &:first-of-type {
                margin-right: 4%;
              }
              &.inactive {
                opacity: 0.5;
                cursor: not-allowed;
              }
            }
          }
          h2 {
            font-family: 'Vidaloka', serif;
            text-align: center;
            font-size: 22px;
            margin-bottom: 15px;
            line-height: 1.3;
          }
          #sound-advice {
            width: 100%;
            bottom: 25%;
            margin-top: 10px;
            left: 0;
            text-align: center;
            font-size: 12px;
            color: #ffffff;
            color: rgba(255,255,255,0.50);
            transition: bottom 2s cubic-bezier(.93,.05,.41,1);
            i {
              margin: 0 5px 15px;
              transition: opacity 650ms ease-in;
            }
            &.bottom {
              bottom: -4px;
              i {
                opacity: 0;
              }
            }
          }
          #start-buttons {
            width: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            text-align: center;
            transition: all 500ms ease-out;
            &:before {
              content: '';
              height: 100%;
              display: inline-block;
              vertical-align: middle;
            }
            .btn {
              margin: 0 10px;
              min-width: auto;
            }
          }
          #name {
            color: #d8c586;
            font-family: Vidaloka,serif;
            font-size: 29px;
            font-weight: 200;
            left: 62%;
            margin-left: -200px;
            text-align: center;
            text-shadow: 0 0 1.5px #dbc36d;
            top: 32%;
            transform: rotate(-1deg);
            width: 400px;
            // @media only screen and (min-width: 1200px) {
            //   font-size: 40px;
            // }
            // @media only screen and (min-width: 1400px) {
            //   font-size: 50px;
            // }
          }
          #kingdom {
            bottom: 3%;
            opacity: 0;
            h2 {
              margin-bottom: 10px;
            }
            .validation-field {
              margin-bottom: 8px;
              &:last-of-type {
                margin-bottom: 10px;
              }
            }
            input:not([type='checkbox']), select {
              font-size: 10px;
            }
          }
          #email {
            bottom: 28%;
            opacity: 0;
            color: #0e171e;
            .input-email {
              margin-bottom: 5px;
            }
            .validation-field {
              margin-bottom: 10px;
              .message {
                margin-bottom: 10px;
              }
              label {
                text-align: center;
                color: #0e171e;
              }
            }
          }
          #phones {
            bottom: 13%;
            opacity: 0;
            color: #0e171e;
            .validation-checkboxes {
              text-align: center;
              margin-bottom: 15px;
              > div {
                width: 45%;
                display: inline-block;
                text-align: center;
              }
              label {
                color: #0e171e;
              }
            }
          }
          #authorization {
            bottom: 30%;
            opacity: 0;
            h2 {
              color: #d2e8fa;
              font-size: 32;
              margin-bottom: 28px;
            }
            .row {
              margin-bottom: 20px;
              text-align: center;
            }
            label {
              color: #93e2ff;
              white-space: nowrap;
            }
          }
          #financial {
            bottom: auto;
            left: 0;
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 73%;
            top: 21%;
            .paper {
              top: 100%;
              position: absolute;
              padding: 8px 10px 0;
              left: 24.5%;
              width: 51%;
              opacity: 0;
            }
            h2 {
              margin-top: 0;
              margin-bottom: 5px;
            }
            label.placeholder {
              font-size: 10px !important;
            }
            .validation-field {
              margin-bottom: 2px;
              // @media only screen and (min-width: 1200px) {
              //   margin-bottom: 5px;
              // }
            }
            .income-concept {
              label {
                font-size: 8px !important;
                white-space: nowrap;
                margin-bottom: 0;
                cursor: pointer;
                // @media only screen and (min-width: 1400px) and (min-height: 790px) {
                //   font-size: 10px;
                // }
              }
            }
            input:not([type='checkbox']), select {
              border-width: 1px;
            }
            input:not([type='checkbox']) {
              padding: 5px 15px !important;
            }
            select {
              padding: 3px 15px !important;
            }
            .advice {
              font-size: 10px;
              color: #8d8d8d;
              margin-top: 10px;
              margin-bottom: 10px;
              // @media only screen and (min-width: 1200px) and (min-height: 790px) {
              //   font-size: 12px;
              //   margin-bottom: 30px;
              // }
            }
            .btn {
              font-size: 12px;
              padding: 7px 20px;
            }
          }
        }
      }
      .video_udc-dimensions {
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: transparent;
      }
      &.isNotMobile {
        @media only screen and (min-width: 992px) {
          .udc-mask {
            background-color: rgba( 0, 0, 0, 0.8);
            &:before {
              content: '';
              display: inline-block;
              height: 100%;
              margin-left: -0.25em;
              vertical-align: middle;
            }
            &.loaded .udc-player {
              display: inline-block;
              visibility: visible;
              opacity: 1;
            }
          }
          .udc-mobile {
            display: none;
          }
        }
      }
      &.udc-ON {
        body {
          overflow: hidden;
          // position: fixed;
          // overflow-y: scroll;
        }
        .udc-mask {
          display: block;
        }
      }

    // Loader -----------------------------------------------------------------
      $size: 100px;
      $primary-color: $blue !default;
      $ball-size: 15px !default;
      $margin: 3px !default;
      $line-height: 35px !default;
      $line-width: 4px !default;
      @function delay($interval, $count, $index) {
        @return ($index * $interval) - ($interval * $count);
      }
      @keyframes ball-scale-multiple {
        0% {
          transform: scale(0.0);
          opacity: 0.3;
        }
        5% {
          opacity: 1;
        }
        100% {
          transform: scale(1.0);
          opacity: 0.3;
        }
      }
      @mixin ball-scale-multiple ($n: 3, $start: 2) {
        @for $i from $start through $n {
          > div:nth-child(#{$i}) {
            animation-delay: delay(0.2s, $n, $i - 1);
          }
        }
      }
      @mixin global-animation() {
        animation-fill-mode: both;
      }
      @mixin balls() {
        background-color: $primary-color;
        width: $ball-size;
        height: $ball-size;
        border-radius: 100%;
        margin: $margin;
      }
      .loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 800ms ease-in-out;
        text-align: center;
        background-color: #ffffff;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        &:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
        > div:first-of-type {
          display: inline-block;
          vertical-align: middle;
        }
        @media only screen and (min-width: 992px) {
          background-color: transparent;
        }
      }
      .loading .loader {
        opacity: 1;
        visibility: visible;
        transition: opacity 0 ease-in-out;
      }
      .ball-scale-multiple {
        @include ball-scale-multiple();
        position: relative;
        transform: translate(-$size / 2, -$size / 2);
        > div {
          @include balls();
          @include global-animation();
          width: $size;
          height: $size;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          margin: 0;
          animation: ball-scale-multiple 2s 0s linear infinite;
        }
      }
      .select {
        &.loading {
          option {
            display: none;
            visibility: hidden;
            opacity: 0;
            transition: opacity 700ms ease;
          }
        }
        .loader {
          background-color: transparent;
          transition: all 400ms ease-in-out;
          .ball-scale-multiple {
            transform: translate(-10px, -10px);
            > div {
              width: 20px;
              height: 20px;
            }
          }
        }
      }

  }

// .placeholder {
//   position: relative;
//   &-message {
//     display: block;
//     pointer-events: none;
//   }
//   input {
//     background-color: transparent;
//     & ~ label {
//       position: absolute;
//       top: 0;
//       left: 20px;
//     }
//     &:focus, &:valid {
//       & ~ label {
//         position: absolute;
//         color: red;
//       }
//     }
//   }
// }

// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
// ------------------------------- 04. Developer ------------------------------
// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------

// @import 'dev';

// ----------------------------------------------------------------------------
// -------------------- Media Queries: Mobile first method --------------------
// ----------------------------------------------------------------------------

// Custom, iPhone Retina
// @media only screen and (min-width: 320px) {}

// Extra Small Devices, Phones
// @media only screen and (min-width: 480px) {}

// Small Devices, Tablets
// @media only screen and (min-width: 768px) {}

// Medium Devices, Desktops
// @media only screen and (min-width: 992px) {}

// Large Devices, Wide Screens
// @media only screen and (min-width: 1200px) {}
