doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    title Protección | Actualización de Datos

  body
    .developer
      h1 Actualización de Datos
      br
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid laudantium placeat, illum magni iure ipsa similique officia nihil autem vel aliquam ipsam ratione, adipisci veritatis tempore minus provident hic reprehenderit asperiores deleniti illo, aspernatur! Ad consequatur aspernatur fugiat consectetur molestiae deserunt voluptate nihil praesentium quam, aliquid laudantium qui dolor laborum dolorem, distinctio dolore reprehenderit adipisci in modi quos optio? Natus obcaecati, veniam officiis ex assumenda tenetur minima odit eaque consequatur, iusto nihil distinctio vero architecto nisi, tempore, modi rerum labore eius officia accusamus temporibus fugiat repudiandae sed ratione. Illo esse magnam provident atque ipsam ullam expedita reprehenderit, amet itaque maxime quibusdam quis eaque vel, mollitia voluptates! Unde hic alias earum facilis esse voluptates nam dolores, placeat repudiandae, nostrum repellendus aliquam quasi! Repellat eligendi placeat rem, libero, amet corporis architecto dolor aut, velit rerum unde veritatis ab voluptatibus, porro quia? Totam sequi in natus, rerum atque officiis fugit fuga impedit nemo nihil nulla aspernatur cum ipsam eligendi id consequuntur, debitis temporibus ex labore eos quis, consectetur! Quas sunt molestiae quasi, minus unde vel tempore laboriosam doloremque nostrum deleniti, facilis temporibus at, saepe quam blanditiis ipsum optio necessitatibus voluptatum architecto. Eaque autem sapiente odit beatae possimus incidunt adipisci consectetur molestias, dolorum enim veritatis maiores nulla ipsa, reiciendis excepturi voluptatibus nihil placeat dicta corrupti voluptas dolorem soluta, sequi, doloremque tempora. Dolore accusantium eaque temporibus repellat mollitia labore, in molestias dignissimos fugiat, enim perspiciatis rerum magnam harum recusandae, iste sunt blanditiis optio. Necessitatibus obcaecati explicabo nulla cupiditate totam unde! Molestias excepturi tenetur cumque deleniti delectus rerum itaque quasi quo quis quidem nam magni, eveniet architecto debitis corporis obcaecati, ipsa aliquid neque, sequi sapiente corrupti! Iure perspiciatis mollitia ipsam corporis itaque repudiandae laborum repellendus aut porro necessitatibus quidem, modi placeat tenetur eius, consequuntur eaque minus deleniti nobis. Earum hic modi, beatae eum omnis id natus qui laudantium expedita quia sint illo harum repudiandae in. Quis officia sapiente obcaecati iusto repudiandae distinctio vel possimus assumenda voluptate vitae at dolores quia porro accusantium quaerat eligendi praesentium, quibusdam inventore expedita! Eos voluptatum iure inventore et at odit, nisi, omnis a nostrum molestias consequuntur reprehenderit earum ex in deleniti pariatur excepturi adipisci iusto laborum nobis, officia asperiores. Pariatur impedit fuga tempora magni dicta odio, accusamus aperiam quibusdam nulla. Repellendus cupiditate ipsam saepe impedit, eveniet voluptatibus dolore cum blanditiis accusamus, maxime natus sit nesciunt perferendis tempora similique, cumque qui nostrum eaque beatae. Aliquam, id eum provident laboriosam praesentium repudiandae atque voluptas error ad reprehenderit sit enim, quidem nemo totam qui consectetur eius nobis a, corporis dignissimos omnis soluta labore. Quidem dolores quos, et aliquam assumenda laboriosam neque unde cum nostrum reprehenderit ipsa repellat rem debitis omnis dicta excepturi cumque id iure numquam velit explicabo ducimus. Ad voluptate enim necessitatibus ipsam magni fugiat cum, explicabo inventore dignissimos beatae, quo nobis non quaerat expedita voluptatibus placeat dolorum eveniet dolor ab tempora commodi. Recusandae modi aliquid molestiae maxime tempore, totam facilis cum ullam deserunt quibusdam illo id adipisci ducimus nostrum animi consequuntur error nesciunt. Eius atque voluptatem veritatis odit explicabo, dolores dolore magni neque enim a necessitatibus, dolorem consectetur! Aut alias veritatis placeat illum, quod, mollitia sequi inventore odit iure. Aspernatur quasi, quos nihil blanditiis, sed possimus pariatur! Consequatur, beatae, cum? Hic rem consequuntur odit asperiores ab, nemo dolor error obcaecati et ut nisi aliquid fugit. Architecto nihil aliquid accusantium commodi sunt reiciendis sequi labore id sit, ad rem nam et dolores atque vero eveniet, iste repudiandae eum iure veniam odit at. Sint incidunt atque odio neque autem eum doloremque ut culpa eaque at odit praesentium adipisci, blanditiis ipsa, totam nostrum error molestias nemo itaque necessitatibus ipsam ratione? Nesciunt eligendi facere nulla error obcaecati sequi ipsam quis at repellat nemo dolores eum cumque, placeat libero quibusdam saepe magni, quas qui labore inventore, tenetur delectus ex. Ad illo delectus reiciendis aliquid facere, doloribus reprehenderit ex sapiente eligendi aut adipisci veniam nam provident numquam autem quos, harum eaque ullam, cum nisi placeat. Quaerat tempora voluptates unde soluta nemo, doloremque molestias adipisci aliquid reiciendis odit dolore, veritatis facere nobis eaque esse at facilis rem alias voluptate minima et iure beatae dolores quibusdam. Repellendus enim assumenda dolores corporis dolorum, alias, nisi voluptatibus iure praesentium incidunt tempora dignissimos eaque accusantium dolore molestiae, debitis quisquam soluta. Culpa aut voluptatibus rerum reiciendis qui doloribus suscipit doloremque molestias consequuntur explicabo quo officiis autem, quos unde adipisci magni non magnam facere, optio repudiandae ipsum tenetur necessitatibus impedit! Molestiae eveniet itaque earum beatae, quia, velit, debitis harum repellat dignissimos provident cupiditate vel saepe, dolorem id est. Molestiae excepturi sint dolore aut culpa numquam tempora vero eaque doloribus! Officiis expedita amet consequatur sint iure perspiciatis autem. Accusantium est, mollitia at pariatur doloremque esse. Esse, enim, explicabo corporis omnis consequuntur soluta, rerum neque accusamus voluptas accusantium quae, quod inventore odio eligendi. Molestiae distinctio est architecto nesciunt placeat nemo ullam. Natus numquam at accusamus aliquid voluptatum doloremque, dolore animi nobis fuga laudantium quasi, quisquam, fugit dignissimos? Laborum similique blanditiis inventore suscipit. Molestiae, quas nihil delectus in voluptatibus! Asperiores voluptates et quia ad sunt laudantium vel soluta culpa magni dolorum, beatae, aliquam. Ipsum officia odio sunt ullam iure accusantium doloribus voluptates distinctio voluptatum. Recusandae incidunt distinctio, in inventore iure possimus saepe, assumenda tempore eligendi praesentium aperiam, alias omnis illum id. Dolorem cupiditate incidunt earum unde magni ex. Suscipit sapiente ut omnis, pariatur veritatis fugit distinctio magni delectus molestias quo sunt, laboriosam expedita consequuntur aut minima possimus explicabo ullam nemo asperiores. Perspiciatis, adipisci. Architecto sit placeat, deserunt quas reiciendis. Reiciendis earum eaque enim minima, eum autem nesciunt accusantium quae error consequatur inventore voluptates! Ullam iste esse dolor nam a reiciendis earum sed quisquam commodi nesciunt temporibus, ex veniam hic recusandae non sequi vero, suscipit voluptatem minima numquam vitae, eos ut magni! Laborum ipsum quae consequatur sit consequuntur praesentium eveniet magni aut natus, dolore, molestias possimus deleniti, necessitatibus laboriosam. Ab dolorem eum repudiandae, ea qui. Odit sit quae eaque consequuntur, at. Nostrum architecto quaerat ut nam repellat dolor consectetur, repudiandae corporis aliquid eligendi tempora itaque error inventore iure omnis accusamus tenetur quae! Commodi corporis, cum fugit a autem voluptatibus!
      br
      br
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ea amet rerum eum saepe quaerat voluptas totam in pariatur atque. Veritatis facilis iure aspernatur modi itaque repellat natus tempora nemo quisquam doloremque, necessitatibus eum ipsa possimus. Suscipit eius, quos! Perspiciatis omnis perferendis ea laudantium impedit sit veritatis, nesciunt nam, tempore, molestiae officiis amet? Sed, soluta, provident. Laboriosam eligendi, eveniet, voluptatem alias non consequuntur temporibus possimus ea. Tenetur, ab natus cumque alias ut libero, vitae impedit eaque rem animi, corporis quis dolores dignissimos porro cum incidunt quae. Perspiciatis blanditiis ducimus amet doloribus minima eligendi distinctio animi dolore enim quaerat similique molestiae, laboriosam exercitationem, ipsam quisquam non. Dolorem adipisci consequatur quos quibusdam et, impedit similique earum quis veniam explicabo iusto itaque. Quos ducimus velit quisquam maxime, nulla quasi illum, nisi adipisci omnis distinctio, expedita dolore enim accusantium sit veniam ut suscipit consectetur voluptas pariatur totam voluptatum. Voluptatibus facilis sed dolorum aut cum dolore, porro placeat! Ad assumenda debitis vel consectetur tempora laboriosam, voluptatibus porro ut temporibus asperiores doloribus iure sunt autem, veniam pariatur, sed beatae quidem eos cumque blanditiis quibusdam eveniet maiores amet. Animi temporibus ullam ipsum odio voluptas, qui eius quos earum veniam placeat numquam ipsa ab assumenda omnis magni libero eos nobis laudantium, aut dolorum accusamus tempora consequatur? Quibusdam suscipit adipisci voluptate magni, sapiente natus modi! Porro velit sequi magni nesciunt, deserunt optio, maxime facere, natus nisi blanditiis ipsam. Aut dolore odit quasi consequatur iure voluptas, repudiandae adipisci distinctio id voluptatem animi facilis reprehenderit repellendus debitis sint expedita provident voluptatibus libero. Quis adipisci, optio nostrum ex, eius nemo. Quia rerum deserunt consectetur dolore sapiente tempore repellat quisquam quis temporibus, cum aut dolorum in ratione quas repudiandae suscipit accusantium error aliquam provident at, itaque ipsam. Quasi aspernatur, tempora delectus voluptatibus laborum fugit repellendus et nobis pariatur quae. Eum magnam sunt labore incidunt aliquam aliquid quaerat veniam optio quod sequi laudantium praesentium unde, minus voluptatum, reiciendis iste vitae odio vero consequatur libero adipisci, sit. Hic molestias, quae quas commodi saepe earum nostrum qui minus voluptates laboriosam, soluta voluptas est, nam, a dolore in exercitationem? Corrupti neque excepturi, asperiores amet aut. Doloribus beatae accusantium consequatur, praesentium enim, magnam soluta velit illum maxime voluptatem impedit. Amet vero dolorem inventore repudiandae harum quae assumenda, doloribus possimus soluta, ducimus itaque excepturi voluptates ipsam accusamus corporis hic voluptas voluptatibus eaque sapiente, recusandae ab impedit maxime. Quisquam eos vel eum eveniet ducimus molestiae, fugiat recusandae cupiditate provident modi animi unde alias placeat autem ratione, sed iusto officiis similique cum earum aspernatur reprehenderit excepturi perferendis. Libero iusto quisquam ratione, a nihil natus, qui illum rem cum nisi non, sit, nemo eos. Tempore veniam assumenda similique distinctio consequuntur consequatur sed sunt hic quae itaque, numquam inventore. Eaque, sapiente voluptatum. Ea eligendi repudiandae placeat, nesciunt obcaecati pariatur quibusdam deserunt corporis sint possimus dolorum eius tempora facilis commodi amet, voluptatum culpa quisquam doloremque numquam, labore asperiores ipsa! Accusamus quia pariatur est maiores minus, neque, obcaecati quae perferendis aut, rerum necessitatibus iusto illum beatae magni labore dolor. Dolores at sint atque unde fuga eaque ex autem veritatis beatae voluptate! Magnam nobis necessitatibus debitis commodi odio dolor nisi officia ad enim sunt id quod, ex veniam totam facere accusamus illo perspiciatis excepturi! Vel sequi officiis nostrum praesentium necessitatibus mollitia, hic iure quo corporis qui distinctio unde odio, illo voluptatibus dolores eveniet possimus eligendi reprehenderit vitae sunt nihil soluta consequatur dicta! Vitae doloremque temporibus voluptas magnam corporis dignissimos! Repellendus doloremque nisi voluptas enim quos illo excepturi saepe molestias, quam sequi nesciunt quisquam voluptatum quas vitae recusandae facilis ea, ipsam autem, consectetur. Aut optio excepturi, nisi impedit asperiores cumque, animi ut amet sed laudantium, saepe est vel voluptate, aliquam! Magni ut doloremque ex quaerat. Non molestiae dolorem vitae, saepe reiciendis fugit ea, adipisci error eos voluptas qui, quidem voluptates repellendus laudantium asperiores inventore dolorum natus? Consequatur eius cupiditate exercitationem obcaecati quasi fuga cum repudiandae earum non repellat eligendi at ea in, molestias autem laborum inventore sint, similique tempore deserunt iste. Saepe minima id atque voluptas vero accusamus molestias explicabo, quis vel dolor voluptatum commodi, similique praesentium sequi eaque tempora cumque, minus a illo nemo! Voluptates assumenda, error dignissimos. Odio architecto necessitatibus hic provident eligendi nobis alias quidem, blanditiis, est consectetur nihil. Soluta iure qui atque, quia reiciendis facere? Quas aperiam provident adipisci nihil nostrum repellendus hic sint ducimus a perspiciatis iusto incidunt, possimus totam quo temporibus laborum, quaerat reprehenderit at quia. Quas in mollitia tenetur, at temporibus accusantium sed reprehenderit. Accusamus nisi ex adipisci eaque illum quo praesentium in facere eius! Et pariatur, quis, eius placeat saepe dicta expedita, eos, sapiente aut velit atque recusandae. Nihil animi suscipit rerum ab ipsum quia quibusdam amet, adipisci illum. Impedit, fugit. Rerum, ullam, blanditiis repellendus accusamus doloribus dolores itaque! Tempora fugiat laborum repellendus quaerat aliquid repudiandae. Ipsam culpa cum, provident dolorem similique quas illum maxime, placeat expedita eius sint iste tenetur beatae, accusantium commodi alias labore corporis dolorum, autem iusto nesciunt asperiores vel. Corporis consectetur minus facilis alias saepe quas quam doloribus sint rem dolorum porro voluptatum maxime magni praesentium consequuntur quo voluptas nostrum, adipisci tempore cum laudantium reprehenderit dolores fuga nemo quaerat. Commodi quasi ex, nam ipsum nisi debitis assumenda excepturi illo sint quod et magnam, doloribus quia eaque similique corporis praesentium quos adipisci reprehenderit aspernatur animi. Illo explicabo ratione mollitia amet porro nesciunt molestias voluptate reprehenderit tenetur animi quasi tempora vitae deleniti commodi, labore impedit debitis quam placeat! Cum repudiandae architecto sit accusantium non amet perspiciatis libero molestias vitae et, aperiam placeat veritatis, blanditiis necessitatibus modi ut quasi neque veniam quae ab odio laborum aliquid! Excepturi assumenda, repellendus illo earum. Vel officia corporis illo quaerat nesciunt consequatur dolorum maxime fugit est, sapiente. Vero nobis iusto aliquid voluptatum. At ducimus quidem ut fugit vitae ipsum quas maxime, nesciunt dolores asperiores itaque rem dicta dignissimos laudantium inventore quod, eum alias! Consequatur quos porro possimus voluptatem obcaecati fugiat? Provident veniam, dolore adipisci nam eos! Distinctio nisi perferendis laboriosam ut quisquam! Nemo error ducimus distinctio dicta temporibus necessitatibus quis eaque hic cupiditate labore aperiam aliquid omnis, blanditiis voluptate quia facilis, culpa!

    //- script(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/jquery.min.js')
    //- script(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/index.min.js')
    script(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/jquery.min.js')
    script(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/index.min.js')