mixin ie(condition)
  <!--[!{condition}]>
  block
  <![endif]-->

mixin title(title)
  .title
    .icon(class!=attributes.class)
    span #{title}
    img(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/steps/title-background.png', alt='')

mixin step(title)
  .step(class!=attributes.class)
    .container
      if block
        block

.udc
  script.
    console.info('Protección le da la bienvenida a su campaña de actualización de datos\nProtección welcomes you to his update data campaign');

  link(rel='stylesheet', href='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/css/videoActualizacionDatos/vendor/slick/slick.css')
  link(rel='stylesheet', href='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/css/videoActualizacionDatos/vendor/slick/slick-theme.css')
  link(rel='stylesheet', href='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/css/videoActualizacionDatos/update-data-campaign.min.css')

  +ie('if lte IE 9')
    link(rel='stylesheet', type='text/css', href='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/css/videoActualizacionDatos/update-data-campaign-ie.min.css')

  //- Selectivizr adds support for 19 CSS3 pseudo-classes, 2 pseudo-elements and every attribute selector to older versions of IE.
  +ie('if (gte IE 6)&(lte IE 8)')
    script(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/js/selectivizr2.min.js')

  //- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries.
  +ie('if lt IE 9')
    script(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/js/html5shiv.min.js')
    script(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/js/respond.min.js')

  .udc-mask
    section.udc-mobile.step-0
      .udc-mobile-header
        a.logo.logo-proteccion(href='#', title='Protección: Pensiones y Cesantías')
        .img-advice
          .girl
        .thanks
          h2 ¡Gracias!
          p Con la actualización de tus datos
            span.bold  cientos de niños podrán tener una biblioteca completamente dotada
            |  y nosotros, en Protección,
            span.bold  podremos entregarte de forma ágil y rápida la información,
            |  asesoría y acompañamiento que requieres en la construcción de tu futuro.
      .udc-mobile-carousel
        +step.step-0
          +title('Instrucciones').icon-instructions
          ul
            li
              span 1.
              p Completa los campos con tus datos o corrige los que estén desactualizados.
            li
              span 2.
              p Cuando ingreses tu información, evita usar caracteres especiales, como *, ñ o tíldes.
        +step.step-1
          +title('Información general').icon-general-information
          form(autocomplete='off')
            .validation-field
              label.placeholder
                span *
                | Departamento
              .select
                select.states(data-validation='states', title='Departamento')
                  option(value='-1', selected='true', disabled='disabled')
              span.message
            .validation-field
              label.placeholder
                span *
                | Ciudad
              .select
                select.cities(data-validation='cities', title='Ciudad')
                  option(value='-1', selected='true', disabled='disabled')
                .loader
                  .ball-scale-multiple
                    div
                    div
              span.message
            .validation-field
              label.placeholder
                span *
                | Dirección
              input(type='text', data-validation='address', title='Dirección')
              span.message
            .validation-field
              label.placeholder
                span *
                | Correo electrónico
              input(type='email', data-validation='email', title='Correo electrónico')
              span.message
              input(id='slider-email', type='checkbox', data-validation='email').input-slider.input-slider-xs
              label(for='slider-email')
                span
                | No tengo correo electrónico
            .row.phones
              .col-xs-6
                .validation-field
                  label.placeholder
                    span *
                    | Teléfono
                  input(type='number', data-validation='phone', title='Teléfono').numeric
                  //- span *No uses el indicativo de tu ciudad
                  span.message
                  input(id='slider-phone', type='checkbox', data-validation='phone').input-slider.input-slider-xs
                  label(for='slider-phone')
                    span
                    | No tengo teléfono
              .col-xs-6
                .validation-field
                  label.placeholder
                    span *
                    | Celular
                  input(type='number', data-validation='mobile', title='Celular').numeric
                  span.message
                  input(id='slider-mobile', type='checkbox', data-validation='mobile').input-slider.input-slider-xs
                  label(for='slider-mobile')
                    span
                    | No tengo celular
        +step.step-2
          +title('Concepto de ingresos').icon-incomes
          form(autocomplete='off')
            .row.income-concept(data-validation='income-concept')
            .row
              .col-xs-12
                .validation-field
                  label.placeholder
                    span *
                    | Profesión
                  .select
                    select.professions(data-validation='professions', title='Profesión')
                      option(value='-1', selected='true', disabled='disabled')
                  span.message
            .row
              .col-xs-12
                .validation-field
                  label.placeholder
                    span *
                    | Ocupación
                  .select
                    select.occupations(data-validation='occupations', title='Ocupación')
                      option(value='-1', selected='true', disabled='disabled')
                  span.message
        +step.step-3
          +title('Concepto de ingresos').icon-incomes
          form(autocomplete='off')
            .row
              .col-xs-12
                .validation-field
                  label.placeholder
                    span *
                    | Ingresos
                  .select
                    select.incomes(data-validation='incomes', title='Ingresos')
                      option(value='-1', selected='true', disabled='disabled')
                  span.message
            .row
              .col-xs-12
                .validation-field
                  label.placeholder
                    span *
                    | Egresos
                  .select
                    select.expenses(data-validation='expenses', title='Egresos')
                      option(value='-1', selected='true', disabled='disabled')
                  span.message
            .row
              .col-xs-12
                .validation-field
                  label.placeholder
                    span *
                    | Total Activos:
                  .money
                    input.money(type='text', data-validation='totalAssets', placeholder='0', title= 'Total Activos')
                    span.message
            .row
              .col-xs-12
                .validation-field
                  label.placeholder
                    span *
                    | Total Pasivos:
                  .money
                    input.money(type='text', data-validation='totalLiabilities', placeholder='0', title= 'Total Pasivos')
                    span.message
            .row
              .col-xs-12
                p.legal-advice *Para Protección es muy importante contar con sus datos actualizados y en vista de esto y por regulación de la Superintendencia Financiera, es de carácter obligatorio la actualización de su información para realizar transacciones que impliquen movimiento de dinero.
        +step.step-4
          +title('Autorización').icon-authorization
          p Danos tu autorización para que podamos enviarte información de tu interés y el video con la entrega de los libros que pronto realizaremos.
          form(autocomplete='off')
            .authorization.authorization-mail
              p Por correo electrónico:
              .yes-no
                input(id='slider-authorization-email-yes' type='radio', name='authorization-mail', data-validation='authorization-mail', value='yes', checked).input-slider.input-slider-sm
                label(for='slider-authorization-email-yes')
                  span
                  | Sí
                input(id='slider-authorization-email-no' type='radio', name='authorization-mail', data-validation='authorization-mail', value='no').input-slider.input-slider-sm
                label(for='slider-authorization-email-no')
                  span
                  | No
            .authorization.authorization-sms
              p Por mensaje de texto:
              .yes-no
                input(id='slider-authorization-sms-yes' type='radio', name='authorization-sms', data-validation='authorization-sms', value='yes', checked).input-slider.input-slider-sm
                label(for='slider-authorization-sms-yes')
                  span
                  | Sí
                input(id='slider-authorization-sms-no' type='radio', name='authorization-sms', data-validation='authorization-sms', value='no').input-slider.input-slider-sm
                label(for='slider-authorization-sms-no')
                  span
                  | No
        +step.step-5
          .row
            .col-xs-7
              p
                span El
                span.bold  AHORRO
                |  es protección
            .col-xs-5
              a(href='http://www.proteccion.com', title='www.proteccion.com') www.proteccion.com
          p Línea de Servicio Protección: Nacional
            span.bold  01 8000 52 8000,
            |  Bogotá:
            span.bold  744 44 64,
            |  Medellín y Cali:
            span.bold  510 90 99,
            |  Barranquilla:
            span.bold  319 79 99,
            |  Cartagena:
            span.bold  642 49 99
      .udc-mobile-footer
        .container
          .row.start
            .col-xs-12
              a.btn.btn-blue.btn-start(title='Empezar') Empezar
          .row.btns
            .col-xs-6
              a.btn.btn-gray.btn-prev(title='Volver') Volver
            .col-xs-6
              a.btn.btn-blue.btn-next(title='Continuar') Continuar
            .col-xs-12
              ul.dots
                li
                li
                li
                li
    section.udc-player
      .player-close
        i.fa.fa-times.btn-close(aria-hidden='true', title='Cerrar')
      .player-controls
        i.fa.fa-volume-up.btn-volume(aria-hidden='true', title='100%')
      .player-poster
        .layer.layer-1
        .layer.layer-2
        .layer.layer-3.leaft.leaft-1
        .layer.layer-3.leaft.leaft-2
        .layer.layer-3.leaft.leaft-3
        .layer.layer-4
          img(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/poster/layer4.png')
        .layer.layer-5.btn-start
          img.btn-background(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/poster/layer3.png', title='Haz clic y actualiza tus datos ahora')
          img.mouse-pointer-circles(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/poster/mouse-pointer-circles.png')
          img.mouse-pointer-circles(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/poster/mouse-pointer-circles.png')
          img.mouse-pointer(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/poster/mouse-pointer.png')
        .layer.layer-6.btns
          a.next.btn.btn-brown.btn-dont-show-again(title='No volver a mostrar') No volver a mostrar
          a.next.btn.btn-brown.btn-see-later(title='Ver más tarde') Ver más tarde
      .player-mask-play
        i.fa.fa-play-circle-o.btn-play(aria-hidden='true', title='Reproducir')
      .player-elements
        p#sound-advice
          i.fa.fa-volume-up.fa-5x(aria-hidden='true', title='Enciende tus parlantes, sube el volumen o usa tus audífonos')
          br
          | Enciende tus parlantes, sube el volumen o usa tus audífonos
        #start-buttons
          a.next.btn.btn-brown.btn-start(title='Comenzar') Comenzar
        span#name Nombre
        form#kingdom(autocomplete='off')
          h2 Dinos dónde queda tu reino
          .validation-field
            .select.select-video
              select.states(data-validation='states', title='Departamento')
                option(value='-1', selected='true', disabled='disabled') Seleccionar departamento
            span.message
          .validation-field
              .select.select-video
                select.cities(data-validation='cities', title='Ciudad')
                  option(value='-1', selected='true', disabled='disabled') Seleccionar ciudad
                .loader
                  .ball-scale-multiple
                    div
                    div
              span.message
          .validation-field
            input(type='text', data-validation='address', placeholder='Dirección', title='Dirección')
            span.message
          .btn-group
            a.btn.btn-light-brown.btn-prev(title='Anterior') Anterior
            a.btn.btn-brown.btn-next(title='Siguiente') Siguiente
        form#email(autocomplete='off')
          h2 Compártenos tu correo electrónico
          .validation-field
            .input.input-email
              input.email.blue-dark(type='email', data-validation='email', placeholder='Correo electrónico')
            span.message
            input.input-video.input-video-sm.input-video-blue-dark(id='email-checkbox2', type='checkbox', data-validation='email')
            label(for='email-checkbox2')
              | No tengo correo electrónico
              span
          .btn-group
            a.btn.btn-light-blue-dark.btn-prev(title='Anterior') Anterior
            a.btn.btn-blue-dark.btn-next(title='Siguiente') Siguiente
        form#phones(autocomplete='off')
          h2 Indícanos tu número de teléfono
            br
            |  y por si acaso, tu celular
          .validation-field
            .input.input-phone
              input.numeric.blue-dark(type='number', data-validation='phone', placeholder='Teléfono')
            span.message
          .validation-field
            .input.input-mobile
              input.numeric.blue-dark(type='number', data-validation='mobile', placeholder='Celular')
            span.message
          .validation-checkboxes
            div
              input.input-video.input-video-sm.input-video-blue-dark(id='phone-checkbox2', type='checkbox', data-validation='phone')
              label(for='phone-checkbox2')
                | No tengo teléfono
                span
            div
              input.input-video.input-video-sm.input-video-blue-dark(id='mpobile-checkbox2', type='checkbox', data-validation='mobile')
              label(for='mpobile-checkbox2')
                | No tengo celular
                span
          .btn-group
            a.btn.btn-light-blue-dark.btn-prev(title='Anterior') Anterior
            a.btn.btn-blue-dark.btn-next(title='Siguiente') Siguiente
        form#authorization(autocomplete='off')
          h2 Danos tu autorización para que podamos enviarte información de tu interés y el video de este final feliz
          .row
            .col-xs-6
              input(id='video-authorization-email-yes', type='checkbox', name='video-authorization-email', value='si', checked).input-video.input-video-sm.input-video-blue
              label(for='video-authorization-email-yes')
                | Por correo electrónico
                span
            .col-xs-6
              input(id='video-authorization-sms-yes', type='checkbox', name='authorization-text', value='si', checked).input-video.input-video-sm.input-video-blue  
              label(for='video-authorization-sms-yes')
                | Por mensaje de texto
                span
          .btn-group
            a.btn.btn-light-blue.btn-prev(title='Anterior') Anterior
            a.btn.btn-blue.btn-next(title='Siguiente') Siguiente
        form#financial(autocomplete='off')
          .paper
            .container-flex
              .row
                .col-sm-12
                  h2 Concepto de ingresos
              .row
                .col-sm-12
                  label.placeholder ¿A qué corresponden tus ingresos mensuales?
              .row.income-concept
              .row
                .col-sm-6
                  .validation-field
                    label.placeholder
                      span *
                      | Ingresos
                    .select.select-video
                      select.incomes(data-validation='incomes', title='Ingresos')
                        option(value='-1', selected='true', disabled='disabled') *Ingresos
                    span.message
                .col-sm-6
                  .validation-field
                    label.placeholder
                      span *
                      | Egresos
                    .select.select-video
                      select.expenses(data-validation='expenses', title='Egresos')
                        option(value='-1', selected='true', disabled='disabled') *Egresos
                    span.message
              .row
                .col-sm-6
                  .validation-field
                    label.placeholder
                      span *
                      | Total Activos
                    input.money(type='text', data-validation='totalAssets', placeholder='0', title= 'Total Activos')
                    span.message
                .col-sm-6
                  .validation-field
                    label.placeholder
                      span *
                      | Total Pasivos
                    input.money(type='text', data-validation='totalLiabilities', placeholder='0', title= 'Total Pasivos')
                    span.message
              .row
                .col-xs-6
                  .validation-field
                    label.placeholder
                      span *
                      | Profesión
                    .select.select-video
                      select.professions(data-validation='professions', title='Profesión')
                        option(value='-1', selected='true', disabled='disabled')
                    span.message
                .col-xs-6
                  .validation-field
                    label.placeholder
                      span *
                      | Ocupación
                    .select.select-video
                      select.occupations(data-validation='occupations', title='Ocupación')
                        option(value='-1', selected='true', disabled='disabled') *Ocupación
                    span.message
              .row
                .col-xs-12
                  p.advice *Para Protección es muy importante contar con sus datos actualizados y en vista de esto y por regulación de la Superintendencia Financiera, es de carácter obligatorio la actualización de su información para realizar transacciones que impliquen movimiento de dinero.
              .row
                .col-xs-12
                  .btn-group
                    a.btn.btn-light-brown.btn-prev(title='Anterior') Anterior
                    a.btn.btn-brown.btn-next.btn-update(title='Actualizar Datos') Actualizar Datos
      #video_udc
      audio#audio_udc(loop='')
        p
          | Para escuchar el sonido por favor, active JavaScript, y considerar la actualización a un navegador web que soporte
          a(href='http://videojs.com/html5-video-support/', target='_blank')  la etiqueta <audio> de HTML5
    .loader
      .ball-scale-multiple
        div
        div
        div

  script(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/slick/slick.min.js')
  script(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/greensock/TweenMax.min.js')
  script(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/update-data-campaign.min.js')
  script(src='wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/update-data-campaign-conf.min.js')
  script(src='https://www.youtube.com/iframe_api')
