
<div class="udc">
  <script>
    console.info('Protección le da la bienvenida a su campaña de actualización de datos\nProtección welcomes you to his update data campaign');
    
  </script>
  <link rel="stylesheet" href="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/css/videoActualizacionDatos/vendor/slick/slick.css"/>
  <link rel="stylesheet" href="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/css/videoActualizacionDatos/vendor/slick/slick-theme.css"/>
  <link rel="stylesheet" href="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/css/videoActualizacionDatos/update-data-campaign.min.css"/><!--[if lte IE 9]>
  <link rel="stylesheet" type="text/css" href="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/css/videoActualizacionDatos/update-data-campaign-ie.min.css"/><![endif]--><!--[if (gte IE 6)&(lte IE 8)]>
  <script src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/js/selectivizr2.min.js"></script><![endif]--><!--[if lt IE 9]>
  <script src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/js/html5shiv.min.js"></script>
  <script src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/js/respond.min.js"></script><![endif]-->
  <div class="udc-mask">
    <section class="udc-mobile step-0">
      <div class="udc-mobile-header"><a href="#" title="Protección: Pensiones y Cesantías" class="logo logo-proteccion"></a>
        <div class="img-advice">
          <div class="girl"></div>
        </div>
        <div class="thanks">
          <h2>¡Gracias!</h2>
          <p>Con la actualización de tus datos<span class="bold"> cientos de niños podrán tener una biblioteca completamente dotada</span> y nosotros, en Protección,<span class="bold"> podremos entregarte de forma ágil y rápida la información,</span> asesoría y acompañamiento que requieres en la construcción de tu futuro.</p>
        </div>
      </div>
      <div class="udc-mobile-carousel">
        <div class="step step-0">
          <div class="container">
            <div class="title">
              <div class="icon icon-instructions"></div><span>Instrucciones</span><img src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/steps/title-background.png" alt=""/>
            </div>
            <ul>
              <li><span>1.</span>
                <p>Completa los campos con tus datos o corrige los que estén desactualizados.</p>
              </li>
              <li><span>2.</span>
                <p>Cuando ingreses tu información, evita usar caracteres especiales, como *, ñ o tíldes.</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="step step-1">
          <div class="container">
            <div class="title">
              <div class="icon icon-general-information"></div><span>Información general</span><img src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/steps/title-background.png" alt=""/>
            </div>
            <form autocomplete="off">
              <div class="validation-field">
                <label class="placeholder"><span>*</span>Departamento</label>
                <div class="select">
                  <select data-validation="states" title="Departamento" class="states">
                    <option value="-1" selected="true" disabled="disabled"></option>
                  </select>
                </div><span class="message"></span>
              </div>
              <div class="validation-field">
                <label class="placeholder"><span>*</span>Ciudad</label>
                <div class="select">
                  <select data-validation="cities" title="Ciudad" class="cities">
                    <option value="-1" selected="true" disabled="disabled"></option>
                  </select>
                  <div class="loader">
                    <div class="ball-scale-multiple">
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </div><span class="message"></span>
              </div>
              <div class="validation-field">
                <label class="placeholder"><span>*</span>Dirección</label>
                <input type="text" data-validation="address" title="Dirección"/><span class="message"></span>
              </div>
              <div class="validation-field">
                <label class="placeholder"><span>*</span>Correo electrónico</label>
                <input type="email" data-validation="email" title="Correo electrónico"/><span class="message"></span>
                <input id="slider-email" type="checkbox" data-validation="email" class="input-slider input-slider-xs"/>
                <label for="slider-email"><span></span>No tengo correo electrónico</label>
              </div>
              <div class="row phones">
                <div class="col-xs-6">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Teléfono</label>
                    <input type="number" data-validation="phone" title="Teléfono" class="numeric"/><span class="message"></span>
                    <input id="slider-phone" type="checkbox" data-validation="phone" class="input-slider input-slider-xs"/>
                    <label for="slider-phone"><span></span>No tengo teléfono</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Celular</label>
                    <input type="number" data-validation="mobile" title="Celular" class="numeric"/><span class="message"></span>
                    <input id="slider-mobile" type="checkbox" data-validation="mobile" class="input-slider input-slider-xs"/>
                    <label for="slider-mobile"><span></span>No tengo celular</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="step step-2">
          <div class="container">
            <div class="title">
              <div class="icon icon-incomes"></div><span>Concepto de ingresos</span><img src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/steps/title-background.png" alt=""/>
            </div>
            <form autocomplete="off">
              <div data-validation="income-concept" class="row income-concept"></div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Profesión</label>
                    <div class="select">
                      <select data-validation="professions" title="Profesión" class="professions">
                        <option value="-1" selected="true" disabled="disabled"></option>
                      </select>
                    </div><span class="message"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Ocupación</label>
                    <div class="select">
                      <select data-validation="occupations" title="Ocupación" class="occupations">
                        <option value="-1" selected="true" disabled="disabled"></option>
                      </select>
                    </div><span class="message"></span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="step step-3">
          <div class="container">
            <div class="title">
              <div class="icon icon-incomes"></div><span>Concepto de ingresos</span><img src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/steps/title-background.png" alt=""/>
            </div>
            <form autocomplete="off">
              <div class="row">
                <div class="col-xs-12">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Ingresos</label>
                    <div class="select">
                      <select data-validation="incomes" title="Ingresos" class="incomes">
                        <option value="-1" selected="true" disabled="disabled"></option>
                      </select>
                    </div><span class="message"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Egresos</label>
                    <div class="select">
                      <select data-validation="expenses" title="Egresos" class="expenses">
                        <option value="-1" selected="true" disabled="disabled"></option>
                      </select>
                    </div><span class="message"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Total Activos:</label>
                    <div class="money">
                      <input type="text" data-validation="totalAssets" placeholder="0" title="Total Activos" class="money"/><span class="message"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Total Pasivos:</label>
                    <div class="money">
                      <input type="text" data-validation="totalLiabilities" placeholder="0" title="Total Pasivos" class="money"/><span class="message"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p class="legal-advice">*Para Protección es muy importante contar con sus datos actualizados y en vista de esto y por regulación de la Superintendencia Financiera, es de carácter obligatorio la actualización de su información para realizar transacciones que impliquen movimiento de dinero.</p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="step step-4">
          <div class="container">
            <div class="title">
              <div class="icon icon-authorization"></div><span>Autorización</span><img src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/steps/title-background.png" alt=""/>
            </div>
            <p>Danos tu autorización para que podamos enviarte información de tu interés y el video con la entrega de los libros que pronto realizaremos.</p>
            <form autocomplete="off">
              <div class="authorization authorization-mail">
                <p>Por correo electrónico:</p>
                <div class="yes-no">
                  <input id="slider-authorization-email-yes" type="radio" name="authorization-mail" data-validation="authorization-mail" value="yes" checked="checked" class="input-slider input-slider-sm"/>
                  <label for="slider-authorization-email-yes"><span></span>Sí</label>
                  <input id="slider-authorization-email-no" type="radio" name="authorization-mail" data-validation="authorization-mail" value="no" class="input-slider input-slider-sm"/>
                  <label for="slider-authorization-email-no"><span></span>No</label>
                </div>
              </div>
              <div class="authorization authorization-sms">
                <p>Por mensaje de texto:</p>
                <div class="yes-no">
                  <input id="slider-authorization-sms-yes" type="radio" name="authorization-sms" data-validation="authorization-sms" value="yes" checked="checked" class="input-slider input-slider-sm"/>
                  <label for="slider-authorization-sms-yes"><span></span>Sí</label>
                  <input id="slider-authorization-sms-no" type="radio" name="authorization-sms" data-validation="authorization-sms" value="no" class="input-slider input-slider-sm"/>
                  <label for="slider-authorization-sms-no"><span></span>No</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="step step-5">
          <div class="container">
            <div class="row">
              <div class="col-xs-7">
                <p><span>El</span><span class="bold"> AHORRO</span> es protección</p>
              </div>
              <div class="col-xs-5"><a href="http://www.proteccion.com" title="www.proteccion.com">www.proteccion.com</a></div>
            </div>
            <p>Línea de Servicio Protección: Nacional<span class="bold"> 01 8000 52 8000,</span> Bogotá:<span class="bold"> 744 44 64,</span> Medellín y Cali:<span class="bold"> 510 90 99,</span> Barranquilla:<span class="bold"> 319 79 99,</span> Cartagena:<span class="bold"> 642 49 99</span></p>
          </div>
        </div>
      </div>
      <div class="udc-mobile-footer">
        <div class="container">
          <div class="row start">
            <div class="col-xs-12"><a title="Empezar" class="btn btn-blue btn-start">Empezar</a></div>
          </div>
          <div class="row btns">
            <div class="col-xs-6"><a title="Volver" class="btn btn-gray btn-prev">Volver</a></div>
            <div class="col-xs-6"><a title="Continuar" class="btn btn-blue btn-next">Continuar</a></div>
            <div class="col-xs-12">
              <ul class="dots">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="udc-player">
      <div class="player-close"><i aria-hidden="true" title="Cerrar" class="fa fa-times btn-close"></i></div>
      <div class="player-controls"><i aria-hidden="true" title="100%" class="fa fa-volume-up btn-volume"></i></div>
      <div class="player-poster">
        <div class="layer layer-1"></div>
        <div class="layer layer-2"></div>
        <div class="layer layer-3 leaft leaft-1"></div>
        <div class="layer layer-3 leaft leaft-2"></div>
        <div class="layer layer-3 leaft leaft-3"></div>
        <div class="layer layer-4"><img src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/poster/layer4.png"/></div>
        <div class="layer layer-5 btn-start"><img src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/poster/layer3.png" title="Haz clic y actualiza tus datos ahora" class="btn-background"/><img src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/poster/mouse-pointer-circles.png" class="mouse-pointer-circles"/><img src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/poster/mouse-pointer-circles.png" class="mouse-pointer-circles"/><img src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/images/videoActualizacionDatos/poster/mouse-pointer.png" class="mouse-pointer"/></div>
        <div class="layer layer-6 btns"><a title="No volver a mostrar" class="next btn btn-brown btn-dont-show-again">No volver a mostrar</a><a title="Ver más tarde" class="next btn btn-brown btn-see-later">Ver más tarde</a></div>
      </div>
      <div class="player-mask-play"><i aria-hidden="true" title="Reproducir" class="fa fa-play-circle-o btn-play"></i></div>
      <div class="player-elements">
        <p id="sound-advice"><i aria-hidden="true" title="Enciende tus parlantes, sube el volumen o usa tus audífonos" class="fa fa-volume-up fa-5x"></i><br/>Enciende tus parlantes, sube el volumen o usa tus audífonos</p>
        <div id="start-buttons"><a title="Comenzar" class="next btn btn-brown btn-start">Comenzar</a></div><span id="name">Nombre</span>
        <form id="kingdom" autocomplete="off">
          <h2>Dinos dónde queda tu reino</h2>
          <div class="validation-field">
            <div class="select select-video">
              <select data-validation="states" title="Departamento" class="states">
                <option value="-1" selected="true" disabled="disabled">Seleccionar departamento</option>
              </select>
            </div><span class="message"></span>
          </div>
          <div class="validation-field">
            <div class="select select-video">
              <select data-validation="cities" title="Ciudad" class="cities">
                <option value="-1" selected="true" disabled="disabled">Seleccionar ciudad</option>
              </select>
              <div class="loader">
                <div class="ball-scale-multiple">
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div><span class="message"></span>
          </div>
          <div class="validation-field">
            <input type="text" data-validation="address" placeholder="Dirección" title="Dirección"/><span class="message"></span>
          </div>
          <div class="btn-group"><a title="Anterior" class="btn btn-light-brown btn-prev">Anterior</a><a title="Siguiente" class="btn btn-brown btn-next">Siguiente</a></div>
        </form>
        <form id="email" autocomplete="off">
          <h2>Compártenos tu correo electrónico</h2>
          <div class="validation-field">
            <div class="input input-email">
              <input type="email" data-validation="email" placeholder="Correo electrónico" class="email blue-dark"/>
            </div><span class="message"></span>
            <input id="email-checkbox2" type="checkbox" data-validation="email" class="input-video input-video-sm input-video-blue-dark"/>
            <label for="email-checkbox2">No tengo correo electrónico<span></span></label>
          </div>
          <div class="btn-group"><a title="Anterior" class="btn btn-light-blue-dark btn-prev">Anterior</a><a title="Siguiente" class="btn btn-blue-dark btn-next">Siguiente</a></div>
        </form>
        <form id="phones" autocomplete="off">
          <h2>Indícanos tu número de teléfono<br/> y por si acaso, tu celular</h2>
          <div class="validation-field">
            <div class="input input-phone">
              <input type="number" data-validation="phone" placeholder="Teléfono" class="numeric blue-dark"/>
            </div><span class="message"></span>
          </div>
          <div class="validation-field">
            <div class="input input-mobile">
              <input type="number" data-validation="mobile" placeholder="Celular" class="numeric blue-dark"/>
            </div><span class="message"></span>
          </div>
          <div class="validation-checkboxes">
            <div>
              <input id="phone-checkbox2" type="checkbox" data-validation="phone" class="input-video input-video-sm input-video-blue-dark"/>
              <label for="phone-checkbox2">No tengo teléfono<span></span></label>
            </div>
            <div>
              <input id="mpobile-checkbox2" type="checkbox" data-validation="mobile" class="input-video input-video-sm input-video-blue-dark"/>
              <label for="mpobile-checkbox2">No tengo celular<span></span></label>
            </div>
          </div>
          <div class="btn-group"><a title="Anterior" class="btn btn-light-blue-dark btn-prev">Anterior</a><a title="Siguiente" class="btn btn-blue-dark btn-next">Siguiente</a></div>
        </form>
        <form id="authorization" autocomplete="off">
          <h2>Danos tu autorización para que podamos enviarte información de tu interés y el video de este final feliz</h2>
          <div class="row">
            <div class="col-xs-6">
              <input id="video-authorization-email-yes" type="checkbox" name="video-authorization-email" value="si" checked="checked" class="input-video input-video-sm input-video-blue"/>
              <label for="video-authorization-email-yes">Por correo electrónico<span></span></label>
            </div>
            <div class="col-xs-6">
              <input id="video-authorization-sms-yes" type="checkbox" name="authorization-text" value="si" checked="checked" class="input-video input-video-sm input-video-blue"/>
              <label for="video-authorization-sms-yes">Por mensaje de texto<span></span></label>
            </div>
          </div>
          <div class="btn-group"><a title="Anterior" class="btn btn-light-blue btn-prev">Anterior</a><a title="Siguiente" class="btn btn-blue btn-next">Siguiente</a></div>
        </form>
        <form id="financial" autocomplete="off">
          <div class="paper">
            <div class="container-flex">
              <div class="row">
                <div class="col-sm-12">
                  <h2>Concepto de ingresos</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label class="placeholder">¿A qué corresponden tus ingresos mensuales?</label>
                </div>
              </div>
              <div class="row income-concept"></div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Ingresos</label>
                    <div class="select select-video">
                      <select data-validation="incomes" title="Ingresos" class="incomes">
                        <option value="-1" selected="true" disabled="disabled">*Ingresos</option>
                      </select>
                    </div><span class="message"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Egresos</label>
                    <div class="select select-video">
                      <select data-validation="expenses" title="Egresos" class="expenses">
                        <option value="-1" selected="true" disabled="disabled">*Egresos</option>
                      </select>
                    </div><span class="message"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Total Activos</label>
                    <input type="text" data-validation="totalAssets" placeholder="0" title="Total Activos" class="money"/><span class="message"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Total Pasivos</label>
                    <input type="text" data-validation="totalLiabilities" placeholder="0" title="Total Pasivos" class="money"/><span class="message"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Profesión</label>
                    <div class="select select-video">
                      <select data-validation="professions" title="Profesión" class="professions">
                        <option value="-1" selected="true" disabled="disabled"></option>
                      </select>
                    </div><span class="message"></span>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="validation-field">
                    <label class="placeholder"><span>*</span>Ocupación</label>
                    <div class="select select-video">
                      <select data-validation="occupations" title="Ocupación" class="occupations">
                        <option value="-1" selected="true" disabled="disabled">*Ocupación</option>
                      </select>
                    </div><span class="message"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p class="advice">*Para Protección es muy importante contar con sus datos actualizados y en vista de esto y por regulación de la Superintendencia Financiera, es de carácter obligatorio la actualización de su información para realizar transacciones que impliquen movimiento de dinero.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="btn-group"><a title="Anterior" class="btn btn-light-brown btn-prev">Anterior</a><a title="Actualizar Datos" class="btn btn-brown btn-next btn-update">Actualizar Datos</a></div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="video_udc"></div>
      <audio id="audio_udc" loop="">
        <p>Para escuchar el sonido por favor, active JavaScript, y considerar la actualización a un navegador web que soporte<a href="http://videojs.com/html5-video-support/" target="_blank"> la etiqueta <audio> de HTML5</a></p>
      </audio>
    </section>
    <div class="loader">
      <div class="ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <script src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/slick/slick.min.js"></script>
  <script src="wps/contenthandler/dav/fs-type1/themes/TemaProteccion/js/videoActualizacionDatos/vendor/greensock/TweenMax.min.js"></script>
  <script src="../src/js/update-data-campaign.js"></script>
  <script src="../src/js/update-data-campaign-conf.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
</div>